<p id="notice"><%= notice %></p>

<div class= "panel-body"> 
<div class= "penel pannel-default">
  <P class= "panel-heading"> 
  <strong>Users:</strong>
</P>

<div  class="panel body">
  
  <p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
</div>
<p class="panel-footer">
  

<%= link_to 'Back', users_path, class:"btn btn-info" %>
<%= link_to 'Edit', users_path, class:"btn btn-info" %>
</p>
</div>
</div>